
.container {
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.row{
    display: flex;
    flex-direction: row;
    width: 800px;
    justify-content: center;
    margin-top:100px ;
}
.box-style {
 
    justify-content: center;
display: flex;
width: 90%;
flex-wrap: wrap;
gap: 12px;

}
.button {
    height: 20px;
    width: 60px;
}
.input{
    width: 200px;
    height:50px;
    border:  2px solid green;
    border-radius: 20px;
    box-shadow: 7px 3px 3px black;
    text-align: center;
}
.select{
    border:  2px solid green;
    border-radius: 20px;
    background-color: #ffffff;
    box-shadow: 7px 3px 3px black;
    
}

.span{
    align-self: center;
    margin-left: 10px;
    
}
.result-span{
    border:  2px solid green;
    box-shadow: 7px 3px 3px black;
    width: 35px;
    display: flex;
    flex-direction:row ;
    border-radius: 20px;
    
}
.result-span-son{
    border:  2px solid green;
    box-shadow: 7px 3px 3px black;
    width: 35px auto;
    display: flex;
    flex-direction:row ;
    border-radius: 20px;
    padding-right: 5px;
    
}
.operator {
    height: 30px;
    margin: 20px;
}